#contextFirst {
  width: 300px;
  height: 201px;
  margin:100px auto;
}

#chatBox {
  width: 100%;

  padding-top: 1%;
}

barch:nth-child(odd) {
  background: #eee;
}

#context {
 
  width: 100%;
}

#chatBox {
  width: 100%;
}

.bottombar {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333333;
  text-align: center;
  color: #ffffff;
}

#leftbar {
  float: left;
  width: 110px;
  margin-left: 5px;
  height: 100vh;
}

#rightbar {
  float: right;
  width: 20%;
}

.left {
  float: left;
  margin-left: 1%;
}

.right {
  float: right;
  margin-right: 1%;
}

.bar {
  height: 345px;
  overflow-y: auto;
  position: relative;
  padding: 0px;
}
#leftpanel {
  height: 100vh;
}

#barch {
  height: 80%;
  overflow-y: auto;
  position: relative;
}

#chatbar {
  float: left;
  width: 60%;
  height: 100vh;
  margin-left: 1%;
}

.bubble-content {
  position: relative;
  float: left;
  margin-left: 12px;
  height: auto;
  width: 95%;
  padding: 5px 20px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}
.bubble-content-txt {
  position: relative;
  float: left;
  margin-left: 12px;
  height: auto;
  width: 95%;
  padding: 5px 20px;
  border-radius: 10px;
  background-color: #ffffff;
}

.pchatme {
  color: green;
  font-size: 18px;
}

#butt {
  width: 20px;
  height: 20px;
  background: url("images/scrollUp.png");
  position: fixed;
  top: 50%;

  right: 10%;
}
